<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <app-header></app-header>
            </div>
        </div>
    </div>
  </header>
  <div class="d-flex mainContect">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>

<div class="container row">
    <div class="col-md-6 offset-md-3">
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<h2>Register team</h2>
<form [formGroup]="registerForm">
    
  
  <div class="form-group">
    <label for="teamId">Team Id</label>
    <input type="text" formControlName="teamId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.teamId.errors }" />
    <div *ngIf="submitted && f.teamId.errors" class="invalid-feedback">
        <div *ngIf="f.teamId.errors.required">Team Id is required</div>
    </div>
   </div>
  <div class="form-group">
        <label for="teamName">Team Name</label>
        <input type="text" formControlName="teamName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.teamName.errors }" />
        <div *ngIf="submitted && f.teamName.errors" class="invalid-feedback">
            <div *ngIf="f.teamName.errors.required">Team Name is required</div>
        </div>
    </div>

    <div class="form-group">

        <ng-multiselect-dropdown     
        formControlName="teamList"   
        [data]="userlist"
        [(ngModel)]="selectedItems"
        [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
</div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" (click)="creatTeam(registerForm)">Create and Invite</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <!-- <a routerLink="/home" routerLinkActive="active" class="btn btn-link">Cancel</a> -->
        <button type="button" class="btn btn-outline-primary" (click)="cancelBtn()">Cancel</button>
    </div>
</form>
</div>
</div>
</div>