<div class="d-flex justify-content-space-between">
  <div class="logo hedSec firstSection">
    <a href=""><img src="../../../assets/images/exela.png" alt="Logo" /> </a>
  </div>
  <div class="hedSec secondSection d-flex align-items-center">
    <div class="profileMenu" *ngIf="isLogedIn">
      <button type="button" class="btn btn-outline-primary float-right" (click)="signOff()">Log Out</button>
    </div>
    <div class="profileMenu" *ngIf="!isLogedIn">
      <button type="button" class="btn btn-outline-primary float-right m-1" (click)="login()">Log in</button>
      <button type="button" class="btn btn-outline-primary float-right m-1" (click)="signup()">Sign up</button>
    </div>
    
  </div>
</div>